.caja{
    display:flex;
}

.caja > div{
    width:50%;
    padding:10px;
    
}
h2{
    border-bottom: 1px solid black;
    color:black;
    font-family:"Anton", sans-serif;
}

@media(max-width: 768px){
    .menu > div{
        flex: 1 1 100%;
    }
    .caja{
        display:block;
    }
    .caja > div{
        width:90%;
        padding: 10px;
    }
}